* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
}

body {
  background-color: lightblue;
}

/* hhhhshs */

.movie {
  border-radius: 3px;
  box-shadow: 0 0 0.5rem rgba(255, 0, 0, 1);
  overflow: hidden;
  margin: 1rem;
  border-radius: 18px;
  cursor: pointer;
  outline: 2px solid rgba(255, 0, 0, 0.6);
  text-align: center;
  text-decoration: none;
  width: 260px;
  padding: 10px;
}

.movie img {
  width: 100%;
  width: 260px;
  transition: transform 0.3s ease-in;
}

.movie:hover img {
  transform: scale(1.05);
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.single-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 0.2rem 0;
  color: #333;
  margin-bottom: 7px;
  gap: 15px;
}

/* swjahdw */
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

header {
  background-color: #373b69;
  padding: 10px;
  padding-left: 100px;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 400px;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.content {
  margin: 100px;
}

.single-info {
  margin-bottom: 25px;
}

.favv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  margin-bottom: 20px;
  margin-top: 0;
}

h3 {
  margin-bottom: 15px;
  font-weight: bold;
  margin: 25px 0;
}

h2 {
  margin-bottom: 10px;
}

.heart-icon {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  color: #fff;
}

.single-info .heart-icon:active {
  transform: scale(0.9);
}

.single-info .heart-icon:hover {
  transform: scale(1.1);
}

.overview {
  margin: 10px 0;
}

p {
  margin-bottom: 100px;
}

.change-color {
  color: red;
}

.main-info {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.main-title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}

.right {
  margin-top: -40px;
}

.user-img {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  display: inline-block;
}

.login-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.user-img {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  display: inline-block;
}
