@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 500px;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

#janras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 80%;
}

.janra {
  color: #fff;
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.highlight {
  background-color: blue;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  border-radius: 100px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 0 0.5rem rgba(255, 0, 0, 1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 260px;
  border-radius: 18px;
  cursor: pointer;
  outline: 2px solid rgba(255, 0, 0, 0.6);
  text-align: center;
}

.movie img {
  width: 100%;
  transition: transform 0.3s ease-in;
}

.movie:hover img {
  transform: scale(1.05);
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.single-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;
  margin: 0.2rem 0;
  color: #fff;
  margin-bottom: 7px;
}
