@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#fff 16px, transparent 0),
    linear-gradient(#ff3d00 16px, transparent 0),
    linear-gradient(#ff3d00 16px, transparent 0),
    linear-gradient(#fff 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
  margin-left: 500px;
  margin-top: 60px;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.search {
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

#janras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 80%;
}

.janra {
  color: #fff;
  background-color: rgb(38, 255, 0);
  padding: 10px 20px;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.highlight {
  background-color: blue;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 9px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  border-radius: 100px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 0 0.5rem rgba(255, 0, 0, 1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 260px;
  border-radius: 18px;
  cursor: pointer;
  outline: 2px solid rgba(255, 0, 0, 0.6);
  text-align: center;
  text-decoration: none;
}

.movie img {
  width: 100%;
  transition: transform 0.3s ease-in;
}

.movie:hover img {
  transform: scale(1.05);
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.single-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;
  margin: 0.2rem 0;
  color: #fff;
  margin-bottom: 7px;
}

.user-img {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  display: inline-block;
}

.login-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
}

.user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

form {
  width: 400px;
}

input {
  width: 100%;
}
